body{
    height: 600px;
    background-color:#F7D488;
    align-items: center;
    display: flex;
    justify-content: center;
}

.content{
    background-color:#CEB5A7;
    border:none;
    border-radius: 100px;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn2{
    margin-left: 130px;
    background-color: #CEB5A7;
    border: none;
    font-size: medium;
    font-weight:bolder;
    cursor: pointer;


}

#btn1{
    background-color: #CEB5A7;
    border: none;
    font-size:x-large;
    cursor: pointer;
}

#inp{
    margin-left: 150px;
    width: 40px;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(234, 236, 235);
    font-family: 'Times New Roman', Times, serif;
    cursor:default;
}